/* CSS HEX */
/* --white: #FAFCFBff;
--light-cyan: #C8EFF7ff; 
--lavender-blush: #F7E9EDff; light pink
--pastel-petal: #F2C0D2ff; darker pink
--azure-mist: #DEF0EFff; */ 

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /* main text font */

/* global css */
*{
    background-color: #f7e9ed;
    font-family: "Ubuntu Mono", monospace;
    /* font-weight: 400; */
    font-style: italic;
}
/* home page css */
#mainpage{
    display: flex;
    justify-content: center;
    margin-top: 40vh;
}
#centerpiece{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#homebuttons{
    display: flex;
    gap: 2rem;
}

.mainbutton{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0%;
    border-color: rgba(0,0,0,0);
    font-size: 1em;
}

.mainbutton:hover, .projectlink:hover{
    scale: 105%;
    color: #e19cb0;

}

.mainbutton[disabled]:hover, .projectlink[disabled]:hover{
    scale: 100%;
}

.mainbutton:active, .projectlink:active{
    scale: 95%;
}

/* about me css */
#headshot{
    border-radius: 150px;
}

#headerdiv{
    display: flex;;
    flex-direction: row;
    /* gap: 40vh; */
}
/* projects css */
.centerdiv{
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 40vh; */
    /* height: 20vh; */
    gap: 0.25rem;
}

.projectlink, .bigtext{
    font-size: large;
    border-radius: 0%;
    border-color: rgba(0,0,0,0);
}
#email{
    font-size: large;
    /* border-radius: 0%; */
    border-color: rgba(0,0,0,0);
}

.blogimg{
    height: 350px;
}

#milestone1-7{
    height: 400;
}
.fateimg{
    width: 30%;
    /* height: auto; */
    max-height: 400px;
    object-fit: contain;
}

#imgshowcase{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 600px) {
    .headerimg{
        width: 300px;
    }
    #milestone1-7, .blogimg{
        height: 150px;
    }
    .fateimg, #commentimg{
        width: 80%;
    }
    /* .mobileimg {
        height: 150px !important;
        /* width: 20% !important; */
    #imgshowcase{
        flex-direction: column;
        align-items: center;
    }
}

/* contact me css */
#copied {
    background-color: #F2C0D2ff;
    border: 1px solid #F2C0D2ff;
    padding: 0.5rem 1.25rem;
    border-radius: 10px;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease;
}

#copied.show {
    opacity: 1;
}

