/* CSS HEX */
/* --white: #FAFCFBff;
--light-cyan: #C8EFF7ff; 
--lavender-blush: #F7E9EDff; light pink
--pastel-petal: #F2C0D2ff; darker pink
--azure-mist: #DEF0EFff; */ 

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /* main text font */

/* global css */
*{
    background-color: #F7E9EDff;
    font-family: "Ubuntu Mono", monospace;
    /* font-weight: 400; */
    font-style: italic;
}
/* home page css */
#mainpage{
    display: flex;
    justify-content: center;
    margin-top: 40vh;
}
#centerpiece{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#homebuttons{
    display: flex;
    gap: 2rem;
}

.mainbutton{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0%;
    border-color: rgba(0,0,0,0);
    font-size: 1em;
}

.mainbutton:hover, .projectlink:hover{
    scale: 105%;
}

.mainbutton[disabled]:hover, .projectlink[disabled]:hover{
    scale: 100%;
}

.mainbutton:active, .projectlink:active{
    scale: 95%;
}

/* about me css */
#headshot{
    border-radius: 150px;
}

#headerdiv{
    display: flex;;
    flex-direction: row;
    /* gap: 40vh; */
}
/* projects css */
.centerdiv{
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 40vh; */
    /* height: 20vh; */
    gap: 0.75rem;
}

.projectlink{
    font-size: large;
    border-radius: 0%;
    border-color: rgba(0,0,0,0);
}

.blogimg{
    height: 300px;
}

.fateimg{
    width: 30%;
}

#imgshowcase{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

